.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.appHeader {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}

.pageContent {
  display: flex;
  flex: 1;
  overflow-y: auto;
}

.appFooter {
  height: 60px;
  background-color: black;
}

.itemCardImage {
  height: 150px !important;
  object-fit: scale-down;
}
.itemCard,.itemCardBadge{
  margin: 8px;
}
.shoppingCartIcon{
  font-size: 30px;
  margin-right: 8px;
  cursor: pointer;
}
.text-right{
  text-align: right;
}